
a:hover,a:focus {color:blueviolet}
.button:hover,.button:focus {color:blueviolet}

body {font-family: "Roboto"; color: black;
}
button {cursor: "pointer"}
.adreses {font-family: "Roboto" sans-serif; font-weight: 400; size: 16px; line-height: 1.5; color: #434455; } 
.menu {font-family: "Roboto" sans-serif; font-weight: 500; size: 16px; line-height: 1.5; color:#2e2f42;}
.logo-link .highlight {font-family: "Raleway" sans-serif; font-weight: 700; size: 18px; line-height: 1.3125; color: #4d5ae5;}
.logo-link {font-family: "Raleway" sans-serif; font-weight: 700; size: 18px; line-height: 1.3125; color: #2e2f42;}
.maintext {font-family: "Roboto" sans-serif; font-weight: 700; size: 56px; line-height: 3.75; color: #ffffff; background-color: #2e2f42;}
h3 {font-family: "Roboto" sans-serif;
    font-weight: 500;
    size: 20px;
    line-height: 1.5;
    color: #2e2f42}
h2 {
        font-family: "Roboto" sans-serif;
        font-weight: 700;
        size: 36px;
        line-height: 2.5;
        color: #2e2f42
    }
p {font-family: "Roboto" sans-serif;
        font-weight: 400;
        size: 16px;
        line-height: 1.5;
        color: #2e2f42 }
footer {background-color: #2e2f42;}
.footertext {color:#ffffff}
.logo-link2 .bluelight {
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    size: 18px;
    line-height: 1.3125;
    color: #4d5ae5;
}

.logo-linkblue {
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    size: 18px;
    line-height: 1.3125;
    color: #ffffff; }